# Core Libraries
pandas
numpy
scipy
biopython

# Bioinformatics
biopython
pyBigWig

# Machine Learning
torch
scikit-learn
transformers
pandas
hdbscan

# Visualization
matplotlib
seaborn
umap

# Model training
wandb